.cursos_container {
  width: 48%;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1100px) {
    width: 100%;
  }
  h2 {
    font-family: "Oswald", sans-serif;
    text-align: center;
  }
  .cursos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0;
    .curso {
      margin: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      .curso_icon {
        font-size: 2.5em;
      }
      p {
        font-family: "Maven Pro", sans-serif;
      }
    }
  }
  .button {
    text-decoration: none;
    color: #fff;
    background-color: yellowgreen;
    padding: 0.5em 1em;
    font-family: "Oswald", sans-serif;
    &:hover {
      transform: scale(1.1);
    }
  }
}
